.atualizar_item_modal {
    height: 550px;
    width: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    background-color: #fff;
}

.open_atualizar_modal {
    display: block;
}
