.excluir_item_modal{
    height: 300px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
    display: none;
    border: 2px solid #5A853B;
    border-radius: 18px;
    background-color: #fff;

}

.exluir_modal {
    display: flex;
    margin: 0px 15px;
    flex-direction: column;
    height: 100%;
}

.header {
    flex: 0 1 10%;
    justify-content: center;
    align-items: center;
}
.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer {
    flex: 0 1 15%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.open_excluir_modal{
    display: block;
}
