.table th {
    font-family: 'Arial Black', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333; 
}


.table td {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500; 
    color: #444; 
}
    .sidebar {
        background-color: #5A853B;
    }

    .navbar {
        background-color: #B87F60;
    }

    .btn-atualizar {
        background-color: #C2C458;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-excluir {
        background-color: #C45858;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-cadastrar-item, btn-criar-alerta{
        background-color: #5A853B; 
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-cadastrar-item:hover {
        background-color: #4a6d33; 
    }

    .table th, .table td {
        background-color: #e9f7e1;
    }

    .table thead {
        background-color: #DDEAD6;
    }

    .table-striped tbody tr:nth-child(odd) {
        background-color: #DDEAD6;
    }

    .table-striped tbody tr:nth-child(even) {
        background-color: #E9F7E1;
    }

    .table-responsive-sm {
        overflow-y: auto;
    }
    