html, body{
    background-image: url("../../../assets/img/login_img.svg");
    background-repeat: no-repeat;
    background-size: 41%;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #526C3F;
    margin: 0px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    border: 2px solid #ffffff;
    background-color: rgba(86, 90, 83, 0.5);
    backdrop-filter: blur(1.2px);
    border-radius: 30px;
    width: 43%; 
    height: 93%;
    box-shadow: 0px 0px 15px black;
    
}


.wrapper .welcome {
    text-align: center;
    color: white
}

.email_error {
    list-style: none;
    padding: 3px;
}
.passwd_error {
    list-style: none;
    padding: 3px;
}

.msgErro{
    background-color: rgb(125, 42, 42);
    width: 70%;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto;
    border-radius: 2px;
    color: rgb(241, 235, 235);
}