html, body {
    height: 100%;
    margin: 0px;
}
.nav_style {
    background-color: #B87F60; 
    margin-left: 60px;
    position: fixed;
}

.menu_lateral {
    display: flex;
    justify-content: center;
    background-color:#526C3F;
    width: 60px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.menu_list {
    padding: 0;
    list-style: none;
}

.menu_list li {
    border: 1px solid #526C3F;
    border-radius: 10px;
    margin-top: 15px;

}
.menu_list li:hover {
    border-radius: 10px;
    background-color: aliceblue;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87.7%;
    overflow-y: auto;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 0px;
}

.content p {
    font-size: 30px;
}